<div id="home" class="banner">
    <div class="social-icons">
        <a target="_blank" href="https://www.facebook.com/Blue-Pixel-Studio-106416431228360">
            <img src="assets/icons/Vector.png" alt="fb">
        </a>
        <a target="_blank" href="https://www.behance.net/veluvijay1">
            <img src="assets/icons/ion_logo-behance.png" alt="behance">
        </a>
        <a target="_blank" href="https://www.instagram.com/bluepixel_studio/">
            <img src="assets/icons/Vector-1.png" alt="insta">
        </a>
        <a target="_blank" href="https://dribbble.com/bluepixelstudioindia">
            <img src="assets/icons/Group 22.png" alt="dribble">
        </a>


    </div>
    <div class="banner-text">
        <h2> Hi, <br> You think it, <br> we build it.</h2>
        <p>we are team of young engineers on a mission to provide<br> technological power to every entrepreneurs out there.
        </p>
        <button> <a style="color: black;text-decoration: none;" href="mailto:bluepixel.studio.in@gmail.com?subject=Projects Detail&body=Send your contact number and project details to discuss more." target="_blank" rel="noopener noreferrer">contact us</a></button>

        <div class="banner-contact">
            <div class="ph-no">
                <p>88254-20016</p>
                <p>79046-27765</p>

            </div>
            <div class="vr">
                <p></p>
            </div>
            <div class="email">
                <p>bluepixel.studio.in@gmail.com</p>
            </div>
            <div class="tab-img">
                <img src="assets/images/illustration (1).png" alt="">
            </div>
        </div>
    </div>
    <div class="banner-img">
        <img src="assets/images/sapiens.png" alt="banner-img">
    </div>

    <div (click)="onClick('works')" class="scroll-icon">
        <img src="assets/images/Group 20.png" alt="scroll-icon">
    </div>
    <br><br>
</div>