<div class="des">
    <div class="  cards">
        <div class="card1"><img src="assets/images/Rectangle 13.png" alt="card-1"></div>
        <div class="card1"><img src="assets/images/Rectangle 14.png" alt="card-1"></div>
        <div class="card1"><img src="assets/images/Rectangle 15.png" alt="card-1"></div>


    </div><br><br><br><br>
    <div class="cards">
        <div class="card1"><img src="assets/images/Rectangle 16.png" alt="card-1"></div>
        <div class="card1"><img src="assets/images/Rectangle 17.png" alt="card-1"></div>
        <div class="card1"><img src="assets/images/Rectangle 18.png" alt="card-1"></div>

    </div>
</div>

<div class="mob">

    <div class="  cards">
        <div class="card1"><img src="assets/images/Rectangle 13.png" alt="card-1"></div>
        <div class="card1"><img src="assets/images/Rectangle 14.png" alt="card-1"></div>
        <!-- <div class="card1"><img src="assets/images/Rectangle 15.png" alt="card-1"></div> -->


    </div><br><br><br><br>
    <div class="cards">
        <div class="card1"><img src="assets/images/Rectangle 16.png" alt="card-1"></div>
        <div class="card1"><img src="assets/images/Rectangle 17.png" alt="card-1"></div>
        <!-- <div class="card1"><img src="assets/images/Rectangle 18.png" alt="card-1"></div> -->

    </div>

</div>