<div id="about" class="about">

    <div class="left"></div>
    <div class="main">
        <div class="section">
            <img src="assets/images/about us 1.png" alt="about-us">
            <div class="content">
                <h3>SIMPLY INNOVATIVE</h3>
                <p>After graduation from college, we decided to start a company, everything was fine <br> except one thing we didn't have vast background in technological stacks needed to <br> full fill our start up dream.</p>

                <p>So we decided to help start-ups and business owners to have the sweet taste of <br> modern innovation to help them boost their business.</p>
            </div>
        </div>






        <div class="testimonals">
            <div class="div-1">

                <div class="div-3">
                    <div class="div3-img">
                        <img class="img" src="assets/images/Ellipse 1.png" alt="img-1">
                    </div>
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">"Vijay and Sathya came out to help us with our ant problem today was very thorough and polite".<br>
                            <p class="founder">-Gautham, Manager of ADP foods</p>
                        </div>
                    </div>


                </div>
                <div class="div-4">
                    <div class="div4-img">
                        <img class="img" src="assets/images/Ellipse 2.png" alt="img-1">

                    </div>
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">"Great service that's on time per agreed upon schedule. Hats off to them!"<br>
                            <p class="founder">-Roshan, Billing softwares.</p>
                        </div>
                    </div>
                </div>
                <div class="div-5">
                    <div class="div5-img">
                        <img class="img" src="assets/images/Ellipse 3.png" alt="img-1">

                    </div>
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">"we never thought online store will be this much fun, great job #bluepixel team" <br>
                            <p class="founder">-Tirth, CEO of MAD</p>
                        </div>
                    </div>
                </div>
                <div class="div-6">
                    <div class="div6-img">
                        <img class="img" src="assets/images/Ellipse 4.png" alt="img-1">

                    </div>
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">"Effective, responsible, knowledgeable, I have only good things to say abaout On the #bluepixelstudio. "<br>
                            <p class="founder"> -Vishnu, CEO of Seed Ally </p>
                        </div>
                    </div>
                </div>
                <div class="div-7">
                    <div class="div7-img">
                        <img class="img" src="assets/images/Ellipse 5.png" alt="img-1">

                    </div>
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">"We developed a great partnership with #bluepixelteam and their dedication to our website."<br>
                            <p class="founder">Shreyans, CTO of MAD </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="div-3">
                    <img class="img" src="assets/images/Ellipse 1.png" alt="img-1">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">"Vijay and Sathya came out to help us with our ant problem today was very thorough and polite".<br>
                            <p class="founder">-Gautham, Manager of ADP foods</p>
                        </div>
                    </div>
                </div>
                <div class="div-4">
                    <img class="img" src="assets/images/Ellipse 2.png" alt="img-1">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">"Great service that's on time per agreed upon schedule. Hats off to them!"<br>
                            <p class="founder">-Roshan, Billing softwares.</p>
                        </div>
                    </div>
                </div>
                <div class="div-5">
                    <img class="img" src="assets/images/Ellipse 3.png" alt="img-1">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">"we never thought online store will be this much fun, great job #bluepixel team" <br>
                            <p class="founder">-Tirth, CEO of MAD</p>
                        </div>
                    </div>
                </div>

                <div class="div-6">
                    <img class="img" src="assets/images/Ellipse 4.png" alt="img-1">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">"Effective, responsible, knowledgeable, I have only good things to say abaout On the #bluepixelstudio. "<br>
                            <p class="founder"> -Vishnu, CEO of Seed Ally </p>
                        </div>
                    </div>
                </div>
                <div class="div-7">
                    <img class="img" src="assets/images/Ellipse 5.png" alt="img-1">
                    <div class="hvrbox-layer_top">
                        <div class="hvrbox-text">"We developed a great partnership with #bluepixelteam and their dedication to our website."<br>
                            <p class="founder">Shreyans, CTO of MAD </p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>












    </div>
    <div class="right"></div>
</div>