<br><br>
<div id="contact" class="contact">
    <div class="left"></div>
    <div class="main">
        <div class="section">
            <p>We sound fun right, then give us a call</p>
            <p>bluepixel.studio.in@gmail.com</p>
            <p>dont'be a boomer in this digital world</p>
        </div>
        <div class="social">
            <a target="_blank" href="https://www.facebook.com/Blue-Pixel-Studio-106416431228360">

                <img src="assets/icons/fb-logo.png" alt="fb">
            </a>
            <a target="_blank" href="https://www.behance.net/veluvijay1">
                <img src="assets/icons/insta-logo.png" alt="behance">
            </a>
            <a target="_blank" href="https://www.instagram.com/bluepixel_studio/">
                <img src="assets/icons/dribble-logo.png" alt="insta">
            </a>
            <a target="_blank" href="https://dribbble.com/bluepixelstudioindia">
                <img src="assets/icons/behance-logo.png" alt="dribble">
            </a>

        </div>
    </div>
    <div class="right"></div>
</div>