.contact {
    display: grid;
    grid-template-columns: auto auto auto;
}

.left {
    grid-area: 1/1/1/3;
    /* border: var(--red-border); */
}

.main {
    grid-area: 1/3/1/10;
    /* border: var(--red-border); */
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.section>P {
    font-family: var(--secondary-font);
    font-weight: bolder;
    font-size: 1.5em;
}

.section>p:nth-child(2) {
    font-family: var(--primary-font);
    font-weight: bolder;
    color: #FB7281;
    font-size: 3em;
}

.right {
    grid-area: 1/10/1/12;
    /* border: var(--red-border); */
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.social>a>img {
    width: 5vw;
    margin: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .section>P {
        font-family: var(--secondary-font);
        font-weight: bolder;
        font-size: .7em !important;
    }
    .section>p:nth-child(2) {
        font-family: var(--primary-font);
        font-weight: bolder;
        color: #FB7281;
        font-size: 1.2em !important;
    }
}

@media only screen and (max-width: 768px) {
    .section>P {
        font-family: var(--secondary-font);
        font-weight: bolder;
        font-size: 1em;
    }
    .section>p:nth-child(2) {
        font-family: var(--primary-font);
        font-weight: bolder;
        color: #FB7281;
        font-size: 1.5em;
    }
}